.dice-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1.75rem;
    margin-inline: 1em;
    /* justify-content: space-between; */
}

.dice{
    font-size: 2rem;
    flex: 0 0 60px;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 2px 1px 3px rgb(97, 93, 93);
}